.login_form{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: solid 1px #e4e4e7;
    max-width: 800px;
    min-width: 400px;
    border-radius: 0.5rem;
    gap: 10px;
}

.title{
    margin: 0;
    padding-bottom: 24px;
    font-family: "Inter",sans-serif;
    font-weight: 600;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_label{
    color: #09090B;    
    font-size: 0.9rem;
    font-weight: 500;
    font-family: "Inter",sans-serif;
}

.login_input{
    padding: 10px 12px;
    background: white;
    border: solid 1px #e4e4e7;
    font-size: 1rem;
    color: #09090B;    
    border-radius: 0.4rem;
    position: relative;
}

.login_input::placeholder {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: #9ca3af;
    font-size: 1rem;
}

.login_input:focus::placeholder,
.login_input:not(:placeholder-shown)::placeholder {
    top: -10px;
    left: 12px;
    font-size: 0.75rem;
    color: #6366f1;
}

.remember{
    display: flex;
    gap: 5px;
}

.remember_check{
    background-color: white;
    color: white;
    padding: 2px;
    margin: 0;
    border-radius: 10px;
}

.remember_text{
    font-size: 14px;
    margin: 0;
    height: fit-content;
    color: #4b5563;
}

.recruit{
    display: flex;    
    padding-top: 10px;
    justify-content: center;
}

.recover{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4b5563;    
}

.create_account{
    margin: 0;
    font-size: 14px;
    color: #6b7280;
}