.transaction_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 12rem;
}

.banner{
    background: black;
    width: 100%;
    height: 17rem;
    border-radius: 1rem;
    overflow: hidden;
}

.banner_image{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.heading_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    gap: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Inter",sans-serif;
    margin: 0;    
}

.welcome{
    margin: 0;
    font-family: "Inter",sans-serif;
}

.send_money{    
    width: 100%;
}

.send_button{
    /* width: 20rem; */
    padding: 0.5rem 5rem;
    background: black;
    color: white;
    border-radius: 0.3rem;
    font-size: 1.2rem;
}
    
.accounts{
    display: flex;
    flex-direction: column;    
    width: 100%;
}

.accounts_title{    
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.accounts_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width:980px){
 .transaction_page{
    padding: 2rem;
 }   
}